<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.DepartmentDAO">

    <select id="getByDeptId" resultType="bean.Department">
        select * from dept where dept_id=#{deptId}
    </select>

    <!-- 需求：查出部门的同时，查出该部门下的所有员工 -->
    <select id="getByDeptIdPlus" resultMap="deptAndEmp">
        select t1.dept_id ,t1.dept_name ,t2.id ,t2.emp_name 
        from dept t1,emp t2
        where t1.dept_id = t2.dept_id and t1 .dept_id =#{deptId};
    </select>
    
    <resultMap id="deptAndEmp" type="bean.Department">
        <id column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <!--
            collection定义关联集合类型的属性的封装规则
            ofType指定集合内元素的类型
        -->
        <collection property="empList" ofType="bean.Employee">
            <id column="id" property="id"/>
            <result column="emp_name" property="empName"/>
        </collection>
    </resultMap>


    <!-- 在上面的前提下，进行分步查询 -->
    <select id="getByDeptIdMax" resultMap="associationOneAndMany">
        select dept_name,dept_id from dept where dept_id = #{deptId}
    </select>

    <resultMap id="associationOneAndMany" type="bean.Department">
        <id column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <collection property="empList" ofType="bean.Employee" select="getByEmpId" column="dept_id" fetchType="lazy">
            <id column="id" property="id"/>
            <result column="emp_name" property="empName"/>
            <result column="email" property="email"/>
        </collection>

    </resultMap>

    <select id="getByEmpId" resultType="bean.Employee">
        select id,emp_name ,email from emp where dept_id=#{deptId}
    </select>

    <!--discriminator-->
    <!--查询部门表，当部门为开发部时，查出部门下所有员工，部门为测试部时就不查-->
    <select id="discriminatorTest" resultMap="discriminator">
        select *
        from dept
    </select>
    <resultMap id="discriminator" type="bean.Department">
        <id column="id" property="deptId"/>
        <!--
            column：对应的列值，这里就是部门名称
            javaType：列值对应的Java类型，这里就是String
        -->
        <discriminator javaType="Integer" column="id">
            <case value="1001" resultType="bean.Employee">
                <collection property="deptId" ofType="bean.Employee" select="getByEmpId" column="dept_id">
                    <id column="id" property="id"/>
                    <result column="emp_name" property="empName"/>
                    <result column="email" property="email"/>
                </collection>
            </case>
        </discriminator>
    </resultMap>

</mapper>